@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$title-font: 'Montserrat', sans-serif;
$regular-font: 'Roboto', sans-serif;
$body-bg: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$font-color: #CFCFCF;
$links-color: #72A479;

body {
    max-width: 1040px;
    margin: 0 auto;

    .header {
        display: flex;
        flex-direction: row;

        .logo {
            max-width: 250px;
            .logo__text {
                display: inline-block;

            }
            .logo__image {
                display: inline-block;
                padding: 0 10px;
            }

        }

    }


}