@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$title-font: 'Montserrat', sans-serif;
$regular-font: 'Roboto', sans-serif;
$body-bg: linear-gradient(360deg, #211F20 0%, #44403F 100%);
$font-color: #CFCFCF;
$links-color: #72A479;
$container-width: 1040px;
$container-margin: 0 auto;

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: $title-font;
}

section {
    max-width: $container-width;
    margin: $container-margin;
}

body {
    
    margin: 0 auto;
    background: $body-bg;
    color: $font-color;
    font-family: $regular-font;
     
    .header-wrapper {
        background-color: #403C3B;

        .header {
            max-width: $container-width;
            display: flex;
            flex-direction: row;
            font-family: $title-font;
            background-color: #403C3B;
            height: 100px;
            align-items: center;
            margin: $container-margin;
            column-gap: 30px;

    
            .logo {
                max-width: 250px;
                display: flex;
                align-items: center;
                font-size: 20px;
    
                .logo__text {
                    display: inline-block;
    
                }
                .logo__image {
                    display: inline-block;
                    //padding: 0 10px;
                }
    
            }
    

            .site-title {
                font-size: 25px;
                padding: 0 0 0 20px;
                position: relative;
            }

            .site-title::before {
                content: "";
                width: 4px;
                height: 30px;
                left: 0;
                top: 0px;
                background-color: #72A479;
                position: absolute;
            }

            .menu {
                list-style: none;
                display: flex;
                flex-direction: row;
                column-gap: 25px;
                justify-self: end;
                padding: 0;
                margin: 0;

                .menu__link {
                    text-decoration: none;
                    color: $font-color;
                }

                .menu__link:hover {
                    color: $links-color;
                }
            }
        }
    }

    

    .search__buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        .button {
            background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
            border-radius: 10px;
            border: 0;
            outline: none;
            color: #FFFFFF;
            height: 44px;
            max-width: 138px;
            width: 100%;

        }

        .button:hover {
            color: #403C3B;
            cursor: pointer;
        }
    }

    .contact__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .contact__list {
        padding: 0;
        list-style: none;
        }
    }

    .input-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    

    .result {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;

        .card {
            max-width: 320px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .specification {
                padding: 5px;
            }
        }
    }
    .single-result {
        

        .single-result__wrapper {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        gap: 30px;
        .single-result__title {
            display: flex;
        
            flex-direction: column;

            .single-result__image {
                border-radius: 50%;
            }
        }
        .single-result__info {
            display: flex;
            align-items: center;
        }
        }
    }

    .addictional {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-width: 800px;
        justify-content: center;
        .addictional__info {
            padding: 0;
        }
    }


    .fortune-wheel__buttons {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        padding-bottom: 30px;

    }

    .wheel-animation {
        display: flex;
        justify-content: center;
    } 

    
    .single-product {
        display: flex;
        flex-direction: column;

        .single-product__title {
            text-align: center;
        }

        .single-product__wrapper {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        .map {
            padding: 20px 0;
        }
    }
}